.banner {
    width: 100%;
    height: 70vh;
}

.banner-content {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    color: #fff;

}

.banner_container img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vh;
}


.contact_content{
    margin: 50px 10% 124px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_address_item{
    color: #4d2c57;
}

.contact_address_item h1 {
    font-size: 32px;
    font-weight: 500;
}

.contact_address_item p {
    font-size: 18px;
    font-weight: 400;
}

.contact_form{
    margin-top: 4px;
    color: #4d2c57;

}

.contact_form h1{
    font-size: 32px;
    font-weight: 500;
}

.form_input{
    margin: 10px 0;
}

.form_input input{
    width: 100%;
    height: 40px;
    background-color: #f1eeee;
    border: none;
    padding: 0 10px;
    font-size: 14px;
}

.form_input input:focus{
    outline: none;
}

.form_input p{
    font-size: 16px;
}

.contact_form button {
    margin-top: 30px;
}